version: 2
jobs:
  build:
    machine: true
    working_directory: ~/apache
    parallelism: 3
    steps:
      - checkout

      - run:
          name: Build Docker image
          command: |
            echo "Building Docker Image"
            docker build -t htmlgraphic/apache:$CIRCLE_BRANCH .


# DEV Build

      - run:
          name: Start DEV Container
          command: |
            set -x
            ls -la
            pwd
            make run
            docker ps -a

      - run:
          name: DEV Build Tests
          command: |
            docker exec -it apache_web_1 /bin/bash /opt/tests/build_tests.sh

      - run: |
          docker logs apache_web_1 > log_output
          mv log_output $CIRCLE_ARTIFACTS/log_output.txt

      - run:
          name: Kill running containers
          command: |
            make stop && make rm


# LIVE Build

      - run:
          name: Start LIVE Container
          command: |
            docker-compose up -d
            docker ps -a

      - run:
          name: LIVE Build Tests
          command: |
            docker exec -it apache_web_1 /bin/bash /opt/tests/build_tests.sh

      - run: |
          docker logs apache_web_1 > log_output
          mv log_output $CIRCLE_ARTIFACTS/log_output-LIVE.txt
