version: 2
jobs:
  build:
    machine: true
    working_directory: ~/apache
    environment:
      CIRCLE_ARTIFACTS: ~/logs/container-build

    steps:
      - checkout

      - run:
          name: Build Docker image
          command: |
            echo "Building Docker Image"
            docker build -t htmlgraphic/apache:envoyer .


# DEV Build

      - run:
          name: Start DEV Container
          command: |
            set -x
            ls -la
            pwd
            make run
            docker ps -a


      - run: |
          mkdir -p $CIRCLE_ARTIFACTS
          docker logs apache_web_1 > $CIRCLE_ARTIFACTS/log_output.txt

      - run:
          name: DEV Build Tests
          command: |
            /bin/bash -c "/usr/bin/wget -q -O- http://127.0.0.1"

      - run:
          name: DEV Build Tests 1
          command: |
            docker exec apache_web_1 /bin/bash -c "export"
            
      - run:
          name: DEV Build Tests 2
          command: |
            docker exec apache_web_1 /bin/bash /opt/tests/build_tests.sh


      - run:
          name: Kill running containers
          command: |
            make stop && make rm



      - store_artifacts:
          path: ~/logs/container-build
          destination: raw-test-output

      - store_test_results:
          path: ~/logs/container-build


# LIVE Build

      # - run:
      #     name: Start LIVE Container
      #     command: |
      #       docker-compose up -d
      #       docker ps -a

      # - run:
      #     name: LIVE Build Tests
      #     command: |
      #       docker exec -it apache_web_1 /bin/bash /opt/tests/build_tests.sh

      # - run: |
      #     docker logs apache_web_1 > log_output
      #     mv log_output $CIRCLE_ARTIFACTS/log_output-LIVE.txt
