version: 2
jobs:
  build:
    machine: true
    working_directory: ~/logs

    steps:
      - checkout
      - run:
          name: Install Docker Compose
          command: |
            set -x
            sudo curl -L https://github.com/docker/compose/releases/download/1.24.0/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose
      - run:
          name: Build Apache Docker image
          command: |
            cp .env.example .env
            make build


# DEV Build

      - run:
          name: Start DEV Container
          command: |
            set -x
            ls -la
            pwd
            make run
            docker ps -a
            sleep 10

      - run:
          name: Global Environment Vars
          command: |
            docker exec apache /bin/bash -c "export"

      - run:
          name: DEV Build Tests
          command: |
            docker exec apache /bin/bash /opt/tests/build_tests.sh

      - run:
          name: Container Logs
          command: |
            mkdir -p /tmp/container-build
            docker logs apache > /tmp/container-build/log_output-DEV_Apache.txt
            docker logs apache_db > /tmp/container-build/log_output-DEV_MySQL.txt

      - run:
          name: Kill running containers
          command: |
            make stop && make rm


# LIVE Build

      - run:
          name: Start LIVE Container
          command: |
            docker-compose --project-name apache up -d
            docker ps -a
            sleep 10

      - run:
          name: LIVE Build Tests
          command: |
            docker exec apache_web_1 /bin/bash /opt/tests/build_tests.sh

      - run:
          name: Container Logs
          command: |
            mkdir -p /tmp/container-build
            docker logs apache_web_1 > /tmp/container-build/log_output-LIVE_Apache.txt
            docker logs apache_db_1 > /tmp/container-build/log_output-LIVE_MySQL.txt



      - store_artifacts:
          path: /tmp/container-build
          destination: raw-test-output

      - store_test_results:
          path: /tmp/container-build

