[Unit]
Description=Apache Web Server
Requires=etcd.service
Requires=docker.service
Requires=mysqld.service

After=etcd.service
After=docker.service
After=mysqld.service
Before=ApacheLink-discovery@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill ApacheLink%i
ExecStartPre=-/usr/bin/docker rm ApacheLink%i
ExecStartPre=/usr/bin/docker pull htmlgraphic/apache
ExecStart=/usr/bin/docker run -p ${COREOS_PUBLIC_IPV4}:80:80 -p ${COREOS_PUBLIC_IPV4}:443:443 --link mysqld:mysql --volumes-from www-data1 --name ApacheLink%i htmlgraphic/apache
ExecStop=/usr/bin/docker stop ApacheLink%i

[X-Fleet]
Conflicts=apache@*.service
MachineMetadata=host=coreos63