[Unit]
Description=Announce Apache@%i Discovery Service
BindsTo=apache-link@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /announce/services/apache-link%i ${COREOS_PUBLIC_IPV4}:80 --ttl 60; sleep 45; done"
ExecStop=/usr/bin/etcdctl rm /announce/services/apache-link%i

[X-Fleet]
MachineOf=apache-link@%i.service