[Unit]
Description=Announce Data Container
BindsTo=data.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/data/www-data '{ \"host\": \"%H\", \"port\": 5422, \"version\": \"52x7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/data/www-data

[X-Fleet]
MachineOf=data.service