[Unit]
Description=MySQL Instance
Requires=etcd.service
Requires=docker.service

After=etcd.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill mysqld
ExecStartPre=-/usr/bin/docker rm mysqld
ExecStartPre=/usr/bin/docker pull htmlgraphic/mysqld
# /var/lib/mysql is symlinked to /var/lib/mysql on manual data docker, currently can't --volumes-from across fleet.
ExecStart=/usr/bin/docker run -p 3306:3306 --volumes-from www-data1 --name mysqld htmlgraphic/mysqld
ExecStop=/usr/bin/docker stop mysqld

[X-Fleet]
Conflicts=mysqld.service
MachineMetadata=host=coreos63