[Unit]
Description=Postfix Service
Requires=etcd.service
Requires=docker.service

After=etcd.service
After=docker.service
Before=postfix-discovery@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill postfix%i
ExecStartPre=-/usr/bin/docker rm postfix%i
ExecStartPre=/usr/bin/docker pull htmlgraphic/postfix
ExecStart=/usr/bin/docker run -p ${COREOS_PUBLIC_IPV4}:25:25 --name postfix%i -e USER=x -e PASS=x -e HOSTNAME=post-office.htmlgraphic.com htmlgraphic/postfix
ExecStop=/usr/bin/docker stop postfix%i

[X-Fleet]
Conflicts=postfix@*.service
MachineMetadata=size=512mb