[Unit]
Description=Announce Postfix@%i service
BindsTo=postfix@%i.service


[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c '\
  while true; do \
    curl -f ${COREOS_PRIVATE_IPV4}:%i; \
    if [ $? -eq 0 ]; then \
      etcdctl set /services/postfix/${COREOS_PRIVATE_IPV4} \'${COREOS_PRIVATE_IPV4}:25\' --ttl 60; \
    else \
      etcdctl rm /services/postfix/${COREOS_PRIVATE_IPV4}; \
    fi; \
    sleep 45; \
  done'

ExecStop=/usr/bin/etcdctl rm /services/postfix/${COREOS_PRIVATE_IPV4}


[X-Fleet]
MachineOf=postfix@%i.service