[Unit]
Description=Announce Postfix@%i service
BindsTo=postfix@%i.service


[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /announce/services/postfix%i ${COREOS_PUBLIC_IPV4}:%i --ttl 60; sleep 45; done"
ExecStop=/usr/bin/etcdctl rm /announce/services/postfix%i


[X-Fleet]
MachineOf=postfix@%i.service