# This service file is built for a system that uses Apache, but SSH is the monitored process.

[Unit]
Description=Apache web server service
Requires=etcd.service
Requires=docker.service
Requires=mysqld.service

After=etcd.service
After=docker.service
After=mysqld.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill ssh-apache%i
ExecStartPre=-/usr/bin/docker rm ssh-apache%i
ExecStartPre=/usr/bin/docker pull htmlgraphic/ssh-apache
ExecStart=/usr/bin/docker run -p ${COREOS_PUBLIC_IPV4}:80:80 --link mysqld:mysql --volumes-from www-data --name ssh-apache%i htmlgraphic/ssh-apache
ExecStop=/usr/bin/docker stop ssh-apache%i

[X-Fleet]
#MachineMetadata=host=coreos60